:root {
    --main-blue: #2043e2;
    --main-pink: #E324A2;
    --main-gray: #797979;
    --main-white: #FFFFFF;
    --main-lightpink: #efb6df;
    --main-darkblue: #05364d;
}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    max-width: 1140px;
    padding: 0 15px; 
    margin: 0 auto;
}
.title {
    font-size: 3.75rem;
    color: var(--main-darkblue);
    line-height: 3.75rem;
    font-weight: 700;
}
.subtitle {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--main-gray);
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}
.subtitle::after {
    content: '';
    width: 85px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 110%;
    filter: blur(4px);
    background-color: var(--main-pink);
}
.desc {
    font-size: 0.875rem;
    line-height: 1.68rem;
    font-weight: 400;
    color: var(--main-gray);
}
.btn {
    display: inline-block;
    color: var(--main-white);
    padding: 0.937rem 1.87rem;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.817rem;
    border-radius: 4px;
    background: linear-gradient(to right, var(--main-blue), var(--main-pink));
    transition: all .3s ease;
}
.btn:hover {
    background: linear-gradient(to right, var(--main-pink), var(--main-blue));
}