:root {
    --main-blue: #2043e2;
    --main-pink: #E324A2;
    --main-gray: #797979;
    --main-white: #FFFFFF;
    --main-lightpink: #efb6df;
    --main-darkblue: #05364d;
}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    font-size: 60px;
    color: var(--main-darkblue);
    line-height: 60px;
    font-weight: 700;
}
.subtitle {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-gray);
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}
.subtitle::after {
    content: '';
    width: 85px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 110%;
    filter: blur(4px);
    background-color: var(--main-pink);
}
.desc {
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: var(--main-gray);
}
.btn {
    display: inline-block;
    color: var(--main-white);
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 4px;
    background: linear-gradient(to right, var(--main-blue), var(--main-pink));
    transition: all .3s ease;
}
.btn:hover {
    background: linear-gradient(to right, var(--main-pink), var(--main-blue));
}
.header-row {
    display: flex;
    align-items: center;
    column-gap: 100px;
    padding: 30px 0;
}
.header-logo img {
    display: block;
}
.header-logo {
    transition: opacity .3s ease;
}
.header-logo:hover {
    opacity: .7;
}
.header-logo:active {
    opacity: 1;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-link {
    text-decoration: none;
    color: #05364d;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    transition: color .3s ease;
}
.nav-link:hover {
    color: var(--main-lightpink);
}
.nav-link:active {
    color: var(--main-pink);
}


/* HERO SECTION */
.hero-row {
    display: flex;
    column-gap: 50px;
    padding: 100px 0 200px;
}
.hero-content {
    max-width: 600px;
    width: 100%;
    padding-top: 60px;
}
.hero-content--subtitle {
    display: inline-block;
    margin-bottom: 8px;
}
.hero-content--title {
    margin-bottom: 15px;
}

.hero-content--desc {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.hero-content--social {
    display: flex;
    column-gap: 15px;
    margin-bottom: 60px;
}
.hero-social--link {
    font-size: 20px;
    color: var(--main-gray);
}
.hero-social--link:hover {
    background: linear-gradient(to right, var(--main-blue), var(--main-pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-content--btn {
    margin-bottom: 150px;
}
.hero-statics--list {
    display: flex;
    column-gap: 35px;
}
.hero-statics--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    background-color: #F8FAFF;
    padding: 30px 15px;
    border-radius: 4px;
    box-shadow: 0 0 15px 1px rgba(65, 64, 64, 0.1);
}
.hero-statics--title {
    display: inline-block;
    font-size: 24px;
    background: linear-gradient(to right, var(--main-blue), var(--main-pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ABOUT SECTION */
.about-row {
    display: flex;
    align-items: center;
    padding-bottom: 150px;
    max-width: 1110px;
}
.about-image {
    flex: 1;
    transform: translateX(-120px);
}
.about-image img{
    width: 100%;
}
.about-content {
    max-width: 550px;
    padding-right: 50px;
    flex: 1;
}
.about-content--subtitle {
    display: inline-block;
    margin-bottom: 10px;
}
.about-content--title {
    line-height: 52px;
    font-size: 42px;
    margin-bottom: 30px;
}
.about-content--desc {
    max-width: 450px;
    margin-bottom: 50px;
}

/* SERVICE SECTION */
.service-row {
    padding-bottom: 150px;
}
.service-content {
    max-width: 400px;
    margin-bottom: 80px;
}
.service-content--subtitle {
    display: inline-block;
    margin-bottom: 10px;
}
.service-content--title {
    font-size: 42px;
    line-height: 52px;
}
.service-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.service-list--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    background-color: #f8faff;
    padding: 60px 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(65, 64, 64, 0.1);
    transition: all .3s ease;
}
.service-list--item:hover {
    background-color: var(--main-blue);
    color: var(--main-white)!important;
}
.service-list--item:hover * {
    color: inherit !important;
}
.service-list--item:hover a::after {
    background: var(--main-white); 
}
.service-list--item img {
    margin-bottom: 45px;
}
.service-list--item h4 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: var(--main-darkblue);
}
.service-list--item p  {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-gray);
    text-align: center;
    line-height: 24px;
    margin-bottom: 45px;
}
.service-list--item a {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-darkblue);
    padding-bottom: 5px;
    position: relative;
}
.service-list--item a::after {
    content: '';
    background: linear-gradient(to right, var(--main-blue), var(--main-pink));
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* CLIENT SECTION */
.client-row {
    padding-bottom: 150px;
}
.client-content {
    max-width: 400px;
    margin-bottom: 80px;
}
.client-content--subtitle {
    display: inline-block;
    margin-bottom: 10px;
}
.client-content--title {
    font-size: 42px;
    line-height: 52px;
}
.client-list--item {
    display: flex;
    justify-content: space-between;
}
.client-item--img {
    display: inline-block;
    max-width: 540px;
    transform: translateX(-100px);
}
.client-item--content {
    max-width: 540px;
    padding-top: 100px;
}
.client-item--title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 2px;
}
.client-item--subtitle {
    display: inline-block;
    font-size: 12px;
    color: var(--main-gray);
    margin-bottom: 16px;
}
.client-item--desc {
    margin-bottom: 16px;
}
.client-item--rating i {
    color: #ffd804;
}