.header-row {
    display: flex;
    align-items: center;
    column-gap: 100px;
    padding: 1.875rem 0;
}
.header-logo img {
    display: block;
}
.header-logo {
    transition: opacity .3s ease;
}
.header-logo:hover {
    opacity: .7;
}
.header-logo:active {
    opacity: 1;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-link {
    text-decoration: none;
    color: #05364d;
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: uppercase;
    transition: color .3s ease;
}
.nav-link:hover {
    color: var(--main-lightpink);
}
.nav-link:active {
    color: var(--main-pink);
}


/* HERO SECTION */
#hero {
    background-image: url('../images/header/hero-banner.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% 100%;
}
.hero-row {
    display: flex;
    column-gap: 80px;
    padding: 6.25rem 0 12.5rem;
}
.hero-content {
    max-width: 600px;
    width: 100%;
    padding-top: 3.75rem;
}
.hero-content--subtitle {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.hero-content--title {
    margin-bottom: 0.937rem;
}

.hero-content--desc {
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.hero-content--social {
    display: flex;
    column-gap: 15px;
    margin-bottom: 3.75rem;
}
.hero-social--link {
    font-size: 1.25rem;
    color: var(--main-gray);
}
.hero-social--link:hover {
    background: linear-gradient(to right, var(--main-blue), var(--main-pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-content--btn {
    margin-bottom: 9.37rem;
}
.hero-statics--list {
    display: flex;
    column-gap: 35px;
}
.hero-statics--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    background-color: #F8FAFF;
    padding: 1.87rem 0.937rem;
    border-radius: 4px;
    box-shadow: 0 0 15px 1px rgba(65, 64, 64, 0.1);
}
.hero-statics--title {
    display: inline-block;
    font-size: 1.5rem;
    background: linear-gradient(to right, var(--main-blue), var(--main-pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ABOUT SECTION */
.about-row {
    display: flex;
    align-items: center;
    padding-bottom: 9.375rem;
    max-width: 1110px;
}
.about-image {
    flex: 1;
    transform: translateX(-120px);
}
.about-image img{
    width: 100%;
}
.about-content {
    max-width: 550px;
    padding-right: 3.125rem;
    flex: 1;
}
.about-content--subtitle {
    display: inline-block;
    margin-bottom: 0.625rem;
}
.about-content--title {
    line-height: 52px;
    font-size: 2.625rem;
    margin-bottom: 1.875rem;
}
.about-content--desc {
    max-width: 450px;
    margin-bottom: 3.125rem;
}

/* SERVICE SECTION */
.service-row {
    padding-bottom: 9.375rem;
}
.service-content {
    max-width: 400px;
    margin-bottom: 5rem;
}
.service-content--subtitle {
    display: inline-block;
    margin-bottom: 0.625rem;
}
.service-content--title {
    font-size: 2.625rem;
    line-height: 52px;
}
.service-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.service-list--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    background-color: #f8faff;
    padding: 3.75rem 1.875rem;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(65, 64, 64, 0.1);
    transition: all .3s ease;
}
.service-list--item:hover {
    background-color: var(--main-blue);
    color: var(--main-white)!important;
}
.service-list--item:hover * {
    color: inherit !important;
}
.service-list--item:hover a::after {
    background: var(--main-white); 
}
.service-list--item img {
    margin-bottom: 2.812rem;
}
.service-list--item h4 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1.25rem;
    color: var(--main-darkblue);
}
.service-list--item p  {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--main-gray);
    text-align: center;
    line-height: 24px;
    margin-bottom: 2.812rem;
}
.service-list--item a {
    font-size: 0.812rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-darkblue);
    padding-bottom: 0.312rem;
    position: relative;
}
.service-list--item a::after {
    content: '';
    background: linear-gradient(to right, var(--main-blue), var(--main-pink));
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* CLIENT SECTION */
.client-row {
    padding-bottom: 9.375rem;
}
.client-content {
    max-width: 400px;
    margin-bottom: 5rem;
}
.client-content--subtitle {
    display: inline-block;
    margin-bottom: 0.625rem;
}
.client-content--title {
    font-size: 2.625rem;
    line-height: 52px;
}
.client-list--item {
    display: flex;
    justify-content: space-between;
}
.client-item--img {
    display: inline-block;
    max-width: 540px;
    transform: translateX(-100px);
}
.client-item--content {
    max-width: 540px;
    padding-top: 6.25rem;
}
.client-item--title {
    font-size: 1.25rem;
    line-height: 24px;
    margin-bottom: 0.125rem;
}
.client-item--subtitle {
    display: inline-block;
    font-size: 0.75rem;
    color: var(--main-gray);
    margin-bottom: 1rem;
}
.client-item--desc {
    margin-bottom: 1rem;
}
.client-item--rating i {
    color: #ffd804;
}

/* PORTFOLIO SECTION */
.portfolio-row {
    padding-bottom: 9.375rem;
}
.portfolio-content {
    max-width: 400px;
    margin-bottom: 5rem;
}
.portfolio-content--subtitle {
    display: inline-block;
    margin-bottom: 0.625rem;
}
.portfolio-content--title {
    font-size: 2.625rem;
    line-height: 52px;
}
.portfolio-filter--list {
    display: flex;
    column-gap: 50px;
    list-style: none;
    margin-bottom: 1.875rem;
}
.portfolio-filter--link {
    font-size: 0.812rem;
    text-decoration: none;
    color: var(--main-darkblue);
    transition: color .3s ease;
}
.portfolio-filter--link:hover {
    color: var(--main-blue);
}
.portfolio-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 320px);
}
.portfolio-image--inner {
    display: inline-block;
    max-width: 540px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    transition: all .3s ease;
}
.portfolio-image--one {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.portfolio-image--two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.portfolio-image--three {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.portfolio-image--inner::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: all .4s ease;
    background-color: var(--main-blue);
    z-index: 1;
}
.portfolio-image--inner:hover::after {
    opacity: 1;
}
.portfolio-image--inner img{
    display: block;
    width: 100%;
}
.portfolio-image--content {
    display: none;
}
.portfolio-image--inner:hover .portfolio-image--content {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: var(--main-white);
    z-index: 2;
}
.portfolio-image--content h4 {
    font-size: 1.125rem;
    margin-bottom: 0.125rem;
}
.portfolio-image--content span {
    font-size: 0.812rem;
}

/* BLOG SECTION */
.blog-row {
    padding-bottom: 9.375rem;
}
.blog-content {
    max-width: 420px;
    margin-bottom: 5rem;
}
.blog-content--subtitle {
    display: inline-block;
    margin-bottom: 0.625rem;
}
.blog-content--title {
    font-size: 2.625rem;
    line-height: 52px;
}
.blog-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.blog-list--item {
    max-width: 350px;
    background-color: #f8faff;
    overflow: hidden;
    border-radius: 4px;
    transition: all .3s ease;
}
.blog-list--item:hover {
    background-color: var(--main-white);
    box-shadow: 0 0 25px 2px rgba(65, 64, 64, 0.1);
}
.blog-item--img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.blog-item--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.blog-list--item:hover .blog-item--img img{
    transform: scale(1.1);
}
.blog-item--content {
    padding: 2rem 1.875rem 2.5rem;
}
.blog-item--inner {
    display: flex;
    column-gap: 30px;
    margin-bottom: 1.25rem;
    color: var(--main-gray);
}
.blog-item--inner div {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-size: 0.875rem;
}
.blog-item--title {
    font-size: 1.25rem;
    line-height: 24px;
    margin-bottom: 0.5rem;
}
.blog-item--desc {
    line-height: 24px;
    margin-bottom: 1.375rem;
}
.blog-item--link {
    font-size: 0.812rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-darkblue);
    padding-bottom: 5px;
    position: relative;
    transition: color .3s ease;
}
.blog-item--link::after {
    content: '';
    background: linear-gradient(to right, var(--main-blue), var(--main-pink));
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.blog-item--link:hover {
    color: var(--main-pink);
}
.blog-item--link:active {
    color: var(--main-lightpink);
}

/* PARTNER SECTION */
#partner {
    padding-bottom: 9.375rem;
}
.partner-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partner-images img {
    cursor: pointer;
    transition: opacity .3s ease;
}
.partner-images img:hover {
    opacity: .8;
}
.partner-images img:active {
    opacity: 1;
}